.idea/
.settings/
.vscode/
.zed/
*.a
*.air
*.apk
*.cgo1.go
*.cgo2.c
*.exe
*.ipa
*.key
*.o
*.out
*.so
*.swf
*.test
bin-debug/
bin-release/
dist/
exampleSite/
node_modules/
public/
resources/
temp/
tmp/
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
.DS_Store
.hugo_build.lock
iOS.conf
macOS.conf
StorableSidebar*
temp*
